<div class="container">
    <div class="profile" style="height: 100%;margin: 0;padding: 0;">
        <img style="padding: 0;display: block;margin: 0 auto;max-height: 100vh;max-width: 100%;" src="../assets/NNR_Profile.webp"  alt="Nilesh Saheb">
    </div>
    <div class="profile rm-3">
        <!-- <h3><span>श्री. निलेश नारायणराव राणे</span></h3> -->
        <p>आमदार श्री. निलेश नारायणराव राणे महाराष्ट्र विधानसभेत कुडाळ मालवण विधानसभा मतदारसंघाचे प्रतिनिधित्व करत आहेत, त्यांनी वयाच्या अवघ्या 28 व्या वर्षी , 15 व्या लोकसभेचे रत्नागिरी सिंधुदुर्ग मतदारसंघातून प्रतिनिधित्व केले असून, गेली सुमारे 25 वर्ष ते महाराष्ट्राच्या सामाजिक आणि राजकीय जीवनात कार्यरत आहेत .</p>
        <p>कार्यकर्त्यांविषयी प्रचंड जिव्हाळा असणारे नेतृत्व अशी त्यांची ख्याती असून पायाभूत सुविधेसह शाश्वत विकास , कोकणातील पर्यटन आणि तरुणांमधील उद्योजकता वाढवणे यावर त्यांचा विशेष भर असतो.</p>
        <p>आपल्या लोकसभा कार्यकाळात त्यांनी मुंबई गोवा महामार्ग , कोकण रेल्वे , पर्यटन , आंबा काजू बागायतदार यांचे प्रश्न, अशी अनेक महत्वपूर्ण कामे मार्गी लावायचा प्रयत्न केला, वेळप्रसंगी रस्त्यावर उतरून आंदोलनही केली.</p>
        <p>मुंबई येथे 17 मार्च 1981 मध्ये जन्मलेल्या निलेश नारायणराव राणे यांनी मुंबई विद्यापीठातून अर्थशास्त्र या विषयात डॉक्टरेट मिळवली आहे. त्यांचे वडील श्री. नारायणराव राणे हे महाराष्ट्राचे माजी मुख्यमंत्री व सध्या रत्नागिरी सिंधुदुर्ग लोकसभा मतदारसंघाचे खासदार असून , पंतप्रधान श्री. नरेंद्र मोदीजी यांच्या मंत्रिमंडळात त्यांनी कॅबिनेट मंत्री म्हणून काम केले आहे , त्याचे धाकटे बंधू आमदार श्री. नितेश नारायणराव राणे हे कणकवली विधानसभेचे प्रतिनिधित्व करत असून, महाराष्ट्र राज्य सरकारमध्ये कॅबिनेट मंत्री म्हणून काम करत आहेत.</p>
    </div>
</div>


