<div class="container">
    <div class="profile" style="height: 100%;margin: 0;padding: 0;">
        <img style="padding: 0;display: block;margin: 0 auto;max-height: 100vh;max-width: 100%;" src="../assets/NNR_Profile.jpg"  alt="Nilesh Saheb">
    </div>
    <div class="profile rm-3">
        <h3><span>डॉ. निलेश नारायणराव राणे</span></h3>
        <p>डॉक्टर निलेश नारायणराव राणे ह्यांनी वयाच्या अवघ्या 28 व्या वर्षी , 15 व्या लोकसभेचे रत्नागिरी सिंधुदुर्ग मतदारसंघातून प्रतिनिधित्व केले असून, गेली सुमारे 25 वर्ष ते महाराष्ट्राच्या सामाजिक आणि राजकीय जीवनात कार्यरत आहेत .</p>
        <p>यापूर्वी त्यांनी भारतीय जनता पक्षाच्या प्रदेश सचिव पदी काम केले असून , सध्या ते कुडाळ मालवण मतदारसंघाच्या निवडणूक प्रमुख म्हणून भारतीय जनता पक्षाचे काम बघत आहेत . कार्यकर्त्यांविषयी प्रचंड जिव्हाळा असणारे नेतृत्व अशी त्यांची ख्याती असून पायाभूत सुविधेसह शाश्वत विकास , कोकणातील पर्यटन आणि तरुणांमधील उद्योजकता वाढवणे यावर त्यांचा विशेष भर असतो..</p>
        <p>आपल्या लोकसभा कार्यकाळात त्यांनी मुंबई गोवा महामार्ग , कोकण रेल्वे , पर्यटन , आंबा काजू बागायतदार यांचे प्रश्न, अशी अनेक महत्वपूर्ण कामे मार्गी लावायचा प्रयत्न केला, वेळप्रसंगी रस्त्यावर उतरून आंदोलनही केली.</p>
        <p>मुंबई येथे 17 मार्च 1981 मध्ये जन्मलेल्या निलेश नारायणराव राणे यांनी मुंबई विद्यापीठातून अर्थशास्त्र या विषयात डॉक्टरेट मिळवली आहे. त्यांचे वडील नारायणराव राणे हे महाराष्ट्राचे माजी मुख्यमंत्री असून , पंतप्रधान नरेंद्र मोदीजी यांच्या मंत्रिमंडळात केंद्रीय मंत्री म्हणून सूक्ष्म लघु व मध्यम उद्योग खाते सांभाळत आहेत , त्याचे धाकटे बंधू आमदार नितेश नारायणराव राणे हे कणकवली विधानसभेचे प्रतिनिधित्व करत आहेत.</p>
    </div>
</div>


