<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">संपर्क महिती</h5>
                    <p class="card-text">
                        <ul class="contact-info">
                            <li class="footer-list"><i class="fa fa-map-marker"></i>
                              &nbsp;सिंधुदुर्ग भवन,<br>
                              101, अंजन मार्ग,<br>
                              आरटीओ रोड, सुरेश नगर,<br>
                              अंधेरी पश्चिम, मुंबई,<br>
                              महाराष्ट्र-400 053<br><br>
                            </li>
                            <li class="footer-list"><i class="fa fa-phone"></i>&nbsp;02122-123456<br><br></li>
                            <li class="footer-list"><i class="fa fa-envelope"></i>&nbsp;testemail&#64;gmail.com</li>
                          </ul>
                    <!-- </p> -->
                  </div>
            </div>
            
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">सुचना कळवा</h5>
                    <p class="card-text">
                      <form (ngSubmit)="submitForm()" #contactForm="ngForm">
                        <div class="row">
                          <div class="col-md-6">
                            <input type="text" class="form-control" [(ngModel)]="formData.name" name="name" placeholder="नाव" required>
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" [(ngModel)]="formData.mobile_number" name="mobile_number" placeholder="मोबाईल क्रमांक" required>
                          </div>
                          <div class="col-md-12">
                            <input type="email" class="form-control" [(ngModel)]="formData.email" name="email" placeholder="ई-मेल आयडी" required>
                          </div>
                          <div class="col-md-12">
                            <input type="text" class="form-control" [(ngModel)]="formData.subject" name="subject" placeholder="विषय" required>
                          </div>
                          <div class="col-md-12">
                            <textarea class="form-control" [(ngModel)]="formData.message" name="message" placeholder="संदेश" rows="3" required></textarea>
                          </div>
                          <div class="col-md-12">
                            <button style="background-color: #ff7e54; display: block; margin-left: auto; margin-right: auto;" 
                                    type="submit" class="btn btn-success">जमा करा</button>
                          </div>
                        </div>
                      </form>
                      
                  </div>
            </div>
        </div>

    </div>
    

</div>


