<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="opacity: 1;">
        <div class="video-caption mt-2">
          <p class="caption-text">{{modal_element.title}}</p>
        </div>
        <img style="
                max-width: -webkit-fill-available;
                max-height: 413px;
                display: block;
                margin-left: auto;
                margin-right: auto;" src="{{modal_element.image}}" alt="">
        <div style="margin-top: 3px;">
          <p>
            {{modal_element.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>