.image-thumb{
    overflow: hidden;
    /* position: relative; */
    margin-bottom: 30px;
}
:host {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  youtube-player {
    display: block;
    width: 100%;
  }